// $brown: rgb(111, 91, 62);
// $brown: rgb(111, 91, 62);
// $gold: rgb(196, 174, 120);
$blue: #005bea;

// $light: rgb(249, 246, 240);
$light: #fcfcfc;
$white: #f6f6f6;
$white: #f6f6f6;
$nav-color: #ddd;
$nav-color: #ddd;

$dark: rgb(23, 21, 21);
